In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("income_data.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43957 entries, 0 to 43956
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              43957 non-null  int64
 1   workclass        41459 non-null  object
 2   fnlwgt           43957 non-null  int64
 3   education        43957 non-null  object
 4   educational-num  43957 non-null  int64
 5   marital-status   43957 non-null  object
 6   occupation       41451 non-null  object
 7   relationship     43957 non-null  object
 8   race             43957 non-null  object
 9   gender           43957 non-null  object
 10  capital-gain     43957 non-null  int64
 11  capital-loss     43957 non-null  int64
 12  hours-per-week   43957 non-null  int64
 13  native-country   43194 non-null  object
 14  income_>50K      43957 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.0+ MB

In [4]:
df['workclass'].value_counts()

Private             30587
Self-emp-not-inc     3464
Local-gov            2822
State-gov            1756
Self-emp-inc         1518
Federal-gov          1284
Without-pay            20
Never-worked            8
Name: workclass, dtype: int64

In [5]:
df['occupation'].value_counts()

Craft-repair         5519
Prof-specialty       5518
Exec-managerial      5506
Adm-clerical         5004
Sales                4965
Other-service        4448
Machine-op-inspct    2711
Transport-moving     2121
Handlers-cleaners    1878
Farming-fishing      1348
Tech-support         1321
Protective-serv       874
Priv-house-serv       225
Armed-Forces           13
Name: occupation, dtype: int64

In [6]:
sum(df['workclass'].isna())

2498

In [7]:
df = df.dropna()

In [8]:
df = df.rename(columns={df.columns[14]: 'income'})

In [9]:
df = df.rename(columns={df.columns[9]: 'sex'})

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40727 entries, 0 to 43956
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              40727 non-null  int64
 1   workclass        40727 non-null  object
 2   fnlwgt           40727 non-null  int64
 3   education        40727 non-null  object
 4   educational-num  40727 non-null  int64
 5   marital-status   40727 non-null  object
 6   occupation       40727 non-null  object
 7   relationship     40727 non-null  object
 8   race             40727 non-null  object
 9   sex              40727 non-null  object
 10  capital-gain     40727 non-null  int64
 11  capital-loss     40727 non-null  int64
 12  hours-per-week   40727 non-null  int64
 13  native-country   40727 non-null  object
 14  income           40727 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.0+ MB

In [11]:
target = df['income']

In [12]:
df = df.drop(['fnlwgt','capital-gain','capital-loss','occupation','native-country','education','income'],axis=1)

In [13]:
df.head()

,age,workclass,educational-num,marital-status,relationship,race,sex,hours-per-week
0,67,Private,16,Divorced,Not-in-family,White,Male,60
1,17,Private,8,Never-married,Own-child,White,Male,15
2,31,Private,13,Married-civ-spouse,Husband,White,Male,40
3,58,State-gov,4,Married-civ-spouse,Husband,White,Male,40
4,25,State-gov,10,Never-married,Not-in-family,Black,Male,40

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40727 entries, 0 to 43956
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              40727 non-null  int64
 1   workclass        40727 non-null  object
 2   educational-num  40727 non-null  int64
 3   marital-status   40727 non-null  object
 4   relationship     40727 non-null  object
 5   race             40727 non-null  object
 6   sex              40727 non-null  object
 7   hours-per-week   40727 non-null  int64
dtypes: int64(3), object(5)
memory usage: 2.8+ MB

In [15]:
df['workclass'].value_counts()

Private             30057
Self-emp-not-inc     3404
Local-gov            2792
State-gov            1721
Self-emp-inc         1471
Federal-gov          1262
Without-pay            20
Name: workclass, dtype: int64

In [16]:
df['marital-status'].value_counts()

Married-civ-spouse       18976
Never-married            13156
Divorced                  5666
Separated                 1252
Widowed                   1151
Married-spouse-absent      500
Married-AF-spouse           26
Name: marital-status, dtype: int64

In [17]:
df['relationship'].value_counts()

Husband           16815
Not-in-family     10528
Own-child          5978
Unmarried          4303
Wife               1884
Other-relative     1219
Name: relationship, dtype: int64

In [18]:
df['race'].value_counts()

White                 35007
Black                  3817
Asian-Pac-Islander     1184
Amer-Indian-Eskimo      394
Other                   325
Name: race, dtype: int64

In [19]:
df['sex'].value_counts()

Male      27490
Female    13237
Name: sex, dtype: int64

In [20]:
#df['occupation'].value_counts()

In [21]:
df = pd.get_dummies(df)

In [22]:
df.head()

,age,educational-num,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,67,16,60,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,17,8,15,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
2,31,13,40,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,58,4,40,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
4,25,10,40,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40727 entries, 0 to 43956
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   40727 non-null  int64
 1   educational-num                       40727 non-null  int64
 2   hours-per-week                        40727 non-null  int64
 3   workclass_Federal-gov                 40727 non-null  uint8
 4   workclass_Local-gov                   40727 non-null  uint8
 5   workclass_Private                     40727 non-null  uint8
 6   workclass_Self-emp-inc                40727 non-null  uint8
 7   workclass_Self-emp-not-inc            40727 non-null  uint8
 8   workclass_State-gov                   40727 non-null  uint8
 9   workclass_Without-pay                 40727 non-null  uint8
 10  marital-status_Divorced               40727 non-null  uint8
 11  marital-status_Married-AF-spouse      40727 non-null  uint8
 12  marital-status_Married-civ-spouse     40727 non-null  uint8
 13  marital-status_Married-spouse-absent  40727 non-null  uint8
 14  marital-status_Never-married          40727 non-null  uint8
 15  marital-status_Separated              40727 non-null  uint8
 16  marital-status_Widowed                40727 non-null  uint8
 17  relationship_Husband                  40727 non-null  uint8
 18  relationship_Not-in-family            40727 non-null  uint8
 19  relationship_Other-relative           40727 non-null  uint8
 20  relationship_Own-child                40727 non-null  uint8
 21  relationship_Unmarried                40727 non-null  uint8
 22  relationship_Wife                     40727 non-null  uint8
 23  race_Amer-Indian-Eskimo               40727 non-null  uint8
 24  race_Asian-Pac-Islander               40727 non-null  uint8
 25  race_Black                            40727 non-null  uint8
 26  race_Other                            40727 non-null  uint8
 27  race_White                            40727 non-null  uint8
 28  sex_Female                            40727 non-null  uint8
 29  sex_Male                              40727 non-null  uint8
dtypes: int64(3), uint8(27)
memory usage: 2.3 MB

In [36]:
pred_lst = [42,16,60,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1]
len(pred_lst)

30

In [39]:
pred_lst.extend([1,2])

In [41]:
if len(pred_lst) == 30:
    pred_lst.append(30)
else:
    pred_lst.append(0)
    
if len(pred_lst) == 31:
    pred_lst.append(31)
else:
    pred_lst.append(0)

In [42]:
pred_lst

[42,
 16,
 60,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 0]

In [93]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.33, random_state=42)

**Random Forest Model**

In [66]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [17]:
def get_params(df):
    mini = min(df['mean_test_score'])
    for row in range(len(df)):
        if df.iloc[row]['mean_test_score'] == mini:
            return df.iloc[row]['params']

In [19]:
clf = RandomizedSearchCV(RandomForestClassifier(),{
    'n_estimators' : [5000,10000],
    'min_samples_split' : [2,3,4,5],
    'min_samples_leaf' : [1,2,3,4], 
    'max_depth' : [None,3,4,5]
})

clf.fit(X_train,y_train)

new_df = pd.DataFrame(clf.cv_results_)

In [20]:
max(new_df['mean_test_score'])

0.814417143041708

In [21]:
get_params(new_df)

{'n_estimators': 10000,
 'min_samples_split': 2,
 'min_samples_leaf': 3,
 'max_depth': 3}

**Neural Network Model**

In [136]:
import tensorflow as tf
import keras 
from keras.models import Sequential
from keras import layers
from tensorflow.keras.utils import to_categorical
from keras import models

In [137]:
X_train.shape

(27287, 87)

In [138]:
y_train.shape

(27287,)

In [139]:
X_train_nn = np.array(X_train)
y_train_nn = np.array(y_train)

X_test_nn = np.array(X_test)
y_test_nn = np.array(y_test)

In [140]:
y_train_nn.shape

(27287,)

In [141]:
model = models.Sequential() 
model.add(layers.Dense(80, activation='relu', input_shape=(87,)))
model.add(layers.Dense(50, activation='relu'))
model.add(layers.Dense(25, activation='relu'))
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

In [142]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [143]:
model.fit(X_train_nn, y_train_nn, validation_split=0.3, shuffle=True, epochs=50)

Epoch 1/50
597/597 [==============================] - 3s 3ms/step - loss: 0.4360 - accuracy: 0.7956 - val_loss: 0.3684 - val_accuracy: 0.8263
Epoch 2/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3842 - accuracy: 0.8142 - val_loss: 0.3814 - val_accuracy: 0.8217
Epoch 3/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3753 - accuracy: 0.8201 - val_loss: 0.3593 - val_accuracy: 0.8294
Epoch 4/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3702 - accuracy: 0.8247 - val_loss: 0.3616 - val_accuracy: 0.8286
Epoch 5/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3701 - accuracy: 0.8225 - val_loss: 0.3596 - val_accuracy: 0.8284
Epoch 6/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3676 - accuracy: 0.8251 - val_loss: 0.3598 - val_accuracy: 0.8291
Epoch 7/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3692 - accuracy: 0.8215 - val_loss: 0.3617 - val_accuracy: 0.8269
Epoch 8/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3652 - accuracy: 0.8251 - val_loss: 0.3717 - val_accuracy: 0.8200
Epoch 9/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3624 - accuracy: 0.8279 - val_loss: 0.3801 - val_accuracy: 0.8202
Epoch 10/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3628 - accuracy: 0.8262 - val_loss: 0.3564 - val_accuracy: 0.8308
Epoch 11/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3598 - accuracy: 0.8291 - val_loss: 0.3546 - val_accuracy: 0.8338
Epoch 12/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3643 - accuracy: 0.8246 - val_loss: 0.3542 - val_accuracy: 0.8316
Epoch 13/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3599 - accuracy: 0.8276 - val_loss: 0.3854 - val_accuracy: 0.8096
Epoch 14/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3609 - accuracy: 0.8298 - val_loss: 0.3638 - val_accuracy: 0.8251
Epoch 15/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3592 - accuracy: 0.8277 - val_loss: 0.3761 - val_accuracy: 0.8180
Epoch 16/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3586 - accuracy: 0.8280 - val_loss: 0.3545 - val_accuracy: 0.8323
Epoch 17/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3572 - accuracy: 0.8271 - val_loss: 0.3542 - val_accuracy: 0.8324
Epoch 18/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3573 - accuracy: 0.8295 - val_loss: 0.3578 - val_accuracy: 0.8280
Epoch 19/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3556 - accuracy: 0.8293 - val_loss: 0.3565 - val_accuracy: 0.8321
Epoch 20/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3562 - accuracy: 0.8309 - val_loss: 0.3596 - val_accuracy: 0.8292
Epoch 21/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3556 - accuracy: 0.8302 - val_loss: 0.3648 - val_accuracy: 0.8274
Epoch 22/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3566 - accuracy: 0.8310 - val_loss: 0.3613 - val_accuracy: 0.8275
Epoch 23/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3560 - accuracy: 0.8300 - val_loss: 0.3554 - val_accuracy: 0.8333
Epoch 24/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3537 - accuracy: 0.8298 - val_loss: 0.3577 - val_accuracy: 0.8310
Epoch 25/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3545 - accuracy: 0.8309 - val_loss: 0.3573 - val_accuracy: 0.8286
Epoch 26/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3531 - accuracy: 0.8317 - val_loss: 0.3556 - val_accuracy: 0.8316
Epoch 27/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3536 - accuracy: 0.8318 - val_loss: 0.3586 - val_accuracy: 0.8345
Epoch 28/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3529 - accuracy: 0.8339 - val_loss: 0.3610 - val_accuracy: 0.8270
Epoch 29/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3524 - accuracy: 0.8333 - val_loss: 0.3566 - val_accuracy: 0.8345
Epoch 30/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3507 - accuracy: 0.8330 - val_loss: 0.3592 - val_accuracy: 0.8327
Epoch 31/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3505 - accuracy: 0.8338 - val_loss: 0.3693 - val_accuracy: 0.8273
Epoch 32/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3520 - accuracy: 0.8341 - val_loss: 0.3592 - val_accuracy: 0.8308
Epoch 33/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3508 - accuracy: 0.8334 - val_loss: 0.3550 - val_accuracy: 0.8314
Epoch 34/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3511 - accuracy: 0.8335 - val_loss: 0.3564 - val_accuracy: 0.8333
Epoch 35/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3487 - accuracy: 0.8337 - val_loss: 0.3590 - val_accuracy: 0.8299
Epoch 36/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3495 - accuracy: 0.8345 - val_loss: 0.3561 - val_accuracy: 0.8329
Epoch 37/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3487 - accuracy: 0.8347 - val_loss: 0.3654 - val_accuracy: 0.8297
Epoch 38/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3486 - accuracy: 0.8357 - val_loss: 0.3554 - val_accuracy: 0.8327
Epoch 39/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3478 - accuracy: 0.8351 - val_loss: 0.3585 - val_accuracy: 0.8305
Epoch 40/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3468 - accuracy: 0.8360 - val_loss: 0.3782 - val_accuracy: 0.8269
Epoch 41/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3483 - accuracy: 0.8343 - val_loss: 0.3576 - val_accuracy: 0.8295
Epoch 42/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3480 - accuracy: 0.8337 - val_loss: 0.3597 - val_accuracy: 0.8311
Epoch 43/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3454 - accuracy: 0.8364 - val_loss: 0.3608 - val_accuracy: 0.8319
Epoch 44/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3463 - accuracy: 0.8365 - val_loss: 0.3571 - val_accuracy: 0.8299
Epoch 45/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3447 - accuracy: 0.8361 - val_loss: 0.3569 - val_accuracy: 0.8314
Epoch 46/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3451 - accuracy: 0.8357 - val_loss: 0.3574 - val_accuracy: 0.8349
Epoch 47/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3452 - accuracy: 0.8351 - val_loss: 0.3671 - val_accuracy: 0.8305
Epoch 48/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3444 - accuracy: 0.8340 - val_loss: 0.3602 - val_accuracy: 0.8295
Epoch 49/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3457 - accuracy: 0.8337 - val_loss: 0.3583 - val_accuracy: 0.8313
Epoch 50/50
597/597 [==============================] - 2s 3ms/step - loss: 0.3441 - accuracy: 0.8357 - val_loss: 0.3603 - val_accuracy: 0.8328

In [76]:
test_loss, test_acc = model.evaluate(X_test_nn, y_test_nn)
print('test_acc:', test_acc)

420/420 [==============================] - 2s 4ms/step - loss: 0.3533 - accuracy: 0.8335
test_acc: 0.8334821462631226

**Logistic Regression Model**

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [27]:
lr = LogisticRegression(max_iter=10000)
#scores = cross_val_score(lr, df, target, cv=5)

#print(np.sum(scores) / len(scores))

In [28]:
lr.fit(df,target)

LogisticRegression(max_iter=10000)

In [35]:
lr.predict([pred_lst])

array([1], dtype=int64)

In [97]:
with open('lr_model.pickle', 'wb') as handle:
    pickle.dump(lr, handle, protocol=pickle.HIGHEST_PROTOCOL)

**SVM Model**

In [115]:
from sklearn import svm

In [117]:
sv = svm.SVC(kernel='linear', C=1, random_state=42)
scores = cross_val_score(sv, df, target, cv=5)

print(np.sum(scores) / len(scores))

0.8310457930370493

**Naive Bayes Model**

In [118]:
from sklearn.naive_bayes import GaussianNB

In [119]:
gnb = GaussianNB()
scores_nb = cross_val_score(gnb,df,target,cv=5)

print(np.sum(scores) / len(scores))

0.8310457930370493